@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html ::-webkit-scrollbar {
  display: none;
}

.float-imgs {
  width: 100%;
}
.float-imgs .img-cloud {
  position: fixed;
  width: 100%;
  height: 19vh;
  z-index: 1;
}
.float-imgs .img-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  z-index: 1;
}

.error-width {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 75%;
  margin: 5vh auto;
}
.error-width h1 {
  font-family: "Fredoka One", cursive;
  font-size: 2.5rem;
  color: #ff69b4;
  text-align: center;
}
.error-width p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin: 1rem 0;
}
.error-width img {
  width: 50%;
  max-width: 300px;
  margin-top: 1rem;
}

#loader {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffffff 94%, rgba(0, 0, 0, 0)) top/8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #fff0f5);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

#fireworksCanvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
}

#heroPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -10vh;
  width: 100%;
  background-color: #fff0f5;
}
#heroPage .containerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
}
#heroPage .containerImgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}
#heroPage .containerImgs img#bee1 {
  width: 40%;
  margin-bottom: 1rem;
}
#heroPage .containerImgs img#bee2 {
  display: none;
  width: 35%;
  position: fixed;
  animation: flyAllScreen 4s ease-in-out forwards;
  pointer-events: none;
  z-index: 5;
}
#heroPage .containerImgs img#bee3 {
  display: none;
  width: 35%;
  position: absolute;
  left: 30%;
  top: 65%;
  opacity: 1;
}
#heroPage .containerImgs #tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}
#heroPage #HeroContainerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 1s ease-in-out;
}
#heroPage #HeroContainerInfo h1 {
  font-family: "Fredoka One", cursive;
  font-size: 2.5rem;
  color: #ff69b4;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 1rem;
}
#heroPage #HeroContainerInfo #HeroTitle2 {
  display: none;
  justify-content: center;
  font-family: "Fredoka One", cursive;
  font-size: 3rem;
  color: #ff69b4;
  margin-bottom: 1rem;
}
#heroPage #HeroContainerInfo #HeroTitle2 span {
  display: inline-block;
  margin: 0 2px;
  animation: wave 1.5s ease-in-out infinite;
}
#heroPage #HeroContainerInfo #HeroTitle2 .span1 {
  animation-delay: 0s;
}
#heroPage #HeroContainerInfo #HeroTitle2 .span2 {
  animation-delay: 0.1s;
}
#heroPage #HeroContainerInfo #HeroTitle2 .span3 {
  animation-delay: 0.2s;
}
#heroPage #HeroContainerInfo #HeroTitle2 .span4 {
  animation-delay: 0.3s;
}
#heroPage #HeroContainerInfo #HeroTitle2 .span5 {
  animation-delay: 0.4s;
}
#heroPage #HeroContainerInfo #HeroTitle2 .span6 {
  animation-delay: 0.5s;
}
#heroPage #HeroContainerInfo #HeroTitle2 .span7 {
  animation-delay: 0.6s;
}
#heroPage #HeroContainerInfo #HeroTitle2 .span8 {
  animation-delay: 0.7s;
}
#heroPage #HeroContainerInfo button#btnStart {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}
#heroPage #HeroContainerInfo button#btnStart:hover {
  background-color: #eb92c5;
}

main {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #a1d8f2 10%, #fff0f5 30%, #fff0f5 90%, #66ac1c 200%);
  background-color: #fff0f5;
}
main .start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
}
main .start #imgStart {
  width: 100%;
}
main .start .balloonStart1,
main .start .balloonStart2 {
  position: absolute;
  width: 100px;
  bottom: -10%;
  animation: floatBalloon 6s ease-in-out infinite;
}
main .start .beeStart {
  width: 40%;
  animation: floatBeeSpecial 5s ease-in-out infinite;
}
main .start .balloonStart1 {
  left: 2%;
}
main .start .balloonStart2 {
  right: 0%;
}
main .party-curtain {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin-top: -10vh;
}
main .party-curtain .containerImgs {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
main .party-curtain .containerImgs .decorations img {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
main .party-curtain .containerImgs .balloon {
  width: 60px;
  animation: floatBalloon 6s ease-in-out infinite;
}
main .party-curtain .containerImgs .balloon.balloon1 {
  top: 20%;
  left: 5%;
  width: 40px;
  animation-delay: 0s;
}
main .party-curtain .containerImgs .balloon.balloon2 {
  top: 25%;
  left: 35%;
  animation-delay: 1s;
}
main .party-curtain .containerImgs .balloon.balloon3 {
  top: 15%;
  left: 85%;
  animation-delay: 2s;
}
main .party-curtain .containerImgs .balloon.balloon4 {
  top: 35%;
  left: 65%;
  animation-delay: 3s;
}
main .party-curtain .containerImgs .balloon.balloon5 {
  bottom: 25%;
  right: 35%;
  animation-delay: 3s;
}
main .party-curtain .containerImgs .balloon.balloon6 {
  top: 35%;
  left: 2%;
  animation-delay: 3s;
}
main .party-curtain .containerImgs .flower {
  width: 50px;
  animation: floatCurtain 4s ease-in-out infinite alternate;
}
main .party-curtain .containerImgs .flower.flower1 {
  bottom: 20%;
  left: 10%;
}
main .party-curtain .containerImgs .flower.flower2 {
  top: 70%;
  left: 30%;
}
main .party-curtain .containerImgs .flower.flower3 {
  top: 65%;
  left: 70%;
}
main .party-curtain .containerImgs .flower.flower4 {
  bottom: 15%;
  right: 20%;
}
main .party-curtain .containerImgs .candy {
  width: 40px;
  animation: floatCurtain 5s ease-in-out infinite alternate;
}
main .party-curtain .containerImgs .candy.candy1 {
  bottom: 30%;
  left: 15%;
}
main .party-curtain .containerImgs .bee-fly {
  width: 160px;
  top: 45%;
  left: -35%;
  animation: beeFly 12s linear infinite;
}
main .party-curtain .containerInfo {
  position: relative;
  text-align: center;
  padding: 6vh 2rem;
  margin-top: 15vh;
}
main .party-curtain .containerInfo .info-card {
  background: rgba(255, 255, 255, 0.8);
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  color: #633a27;
}
main .party-curtain .containerInfo .info-card h2 {
  font-size: "Fredoka One", cursive;
  font-size: 2rem;
  color: #d2691e;
  margin-bottom: 0.5rem;
}
main .party-curtain .containerInfo .info-card p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  margin: 0.3rem 0;
}
main .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: -10vh;
  margin-bottom: 5vh;
}
main .info .img-bee1 {
  width: 40%;
  transform: translateY(3rem);
  animation: floatBeeSpecial 5s ease-in-out infinite;
  animation-delay: 2s;
}
main .info .img-reinbow {
  width: 100%;
}
main .info .container-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-family: "Quicksand", sans-serif;
  width: 100%;
}
main .info .container-date .date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #ff69b4;
  font-size: 1.3rem;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}
main .info .container-date .date .borders {
  border-top: 2px solid #ff69b4;
  border-bottom: 2px solid #ff69b4;
  border-radius: 3px;
  padding: 5px 10px;
}
main .info .container-date .date .day {
  width: 35%;
}
main .info .container-date .date .number {
  width: 10%;
  background-color: #ff69b4;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
main .info .container-date .date .month {
  width: 35%;
}
main .info .container-imgs {
  position: relative;
  width: 100%;
}
main .info .container-imgs .img-float {
  position: absolute;
  width: 15%;
}
main .info .container-imgs .img-float.img1 {
  right: 0;
  width: 25%;
  z-index: -1;
  transform: translateY(-1.5rem);
}
main .info .container-imgs .img-float.img2 {
  left: 5%;
  transform: translateY(2rem);
  animation: floatFlowerSpecial1 5s ease-in-out infinite;
  animation-delay: 10s;
}
main .info .container-imgs .img-float.img4 {
  right: 5%;
  animation: floatFlowerSpecial3 5s ease-in-out infinite;
}
main .info .container-imgs .img-float.img3 {
  right: 5%;
  transform: translateY(10rem);
  animation: floatFlowerSpecial2 5s ease-in-out infinite;
  animation-delay: 10s;
}
main .info .time {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  color: #ad95dd;
}
main .info .location-title {
  font-family: "Fredoka One", cursive;
  font-size: 1.5rem;
  color: #ff69b4;
  text-align: center;
}
main .info .location {
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  color: #ad95dd;
  animation: btnanimation 3s ease-in-out infinite;
}
main .music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
main .music button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}
main .music button:hover {
  background-color: #eb92c5;
}
main .music audio {
  display: none;
}
main .beeEnd {
  width: 45%;
  margin-bottom: 1vh;
  margin-right: 35%;
  animation: floatBeeFlowerSpecial 5s ease-in-out infinite;
}

/*
main {
  display: flex;
}

#heroPage {
  display: none;
}
*/
@keyframes floatCurtain {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes floatSlow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
@keyframes floatBalloon {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-30px) rotate(5deg);
  }
}
@keyframes twinkle {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
@keyframes beeFly {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  5% {
    transform: translateX(25%) translateY(-10px) rotate(10deg);
  }
  25% {
    transform: translateX(50%) translateY(10px) rotate(-10deg);
  }
  50% {
    transform: translateX(75%) translateY(-5px) rotate(5deg);
  }
  75% {
    transform: translateX(100%) translateY(10px) rotate(-5deg);
  }
  100% {
    transform: translateX(120vw) translateY(0) rotate(0deg);
  }
}
@keyframes flyAllScreen {
  0% {
    transform: translate(0, 0) rotate(0deg) scaleX(1);
    opacity: 1;
  }
  15% {
    transform: translate(10vw, -20vh) rotate(-20deg) scaleX(1);
  }
  30% {
    transform: translate(40vw, -10vh) rotate(15deg) scaleX(1);
  }
  45% {
    transform: translate(70vw, 10vh) rotate(-10deg) scaleX(-1);
  }
  60% {
    transform: translate(90vw, 30vh) rotate(0deg) scaleX(-1);
  }
  75% {
    transform: translate(60vw, 60vh) rotate(10deg) scaleX(-1);
  }
  90% {
    transform: translate(30vw, 80vh) rotate(0deg) scaleX(1);
  }
  100% {
    transform: translate(30vw, 80vh) rotate(0deg) scaleX(1);
    opacity: 0;
  }
}
@keyframes showBottonTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes desvanecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes floatBeeFlowerSpecial {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes floatBeeSpecial {
  0%, 100% {
    transform: translateY(3rem);
  }
  50% {
    transform: translateY(1rem) rotate(10deg);
  }
}
@keyframes floatFlowerSpecial1 {
  0%, 100% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(1rem) rotate(40deg);
  }
}
@keyframes floatFlowerSpecial2 {
  0%, 100% {
    transform: translateY(10rem);
  }
  50% {
    transform: translateY(9rem) rotate(-40deg);
  }
}
@keyframes floatFlowerSpecial3 {
  0%, 100% {
    transform: translateY(-10.5rem);
  }
  50% {
    transform: translateY(-11rem) rotate(50deg);
  }
}
@keyframes btnanimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
@media (min-width: 600px) {
  main {
    display: none;
  }
  #heroPage {
    display: none;
  }
  .error-width {
    display: flex;
  }
}/*# sourceMappingURL=styles.css.map */