@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;500&display=swap");

$title-font: "Fredoka One", cursive;
$body-font: "Quicksand", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  ::-webkit-scrollbar {
    width: 0;
  }

  background-color: #fff0f5;
}

.float-imgs {
  width: 100%;

  .img-cloud {
    position: fixed;
    width: 100%;
    height: 19vh;
    z-index: 1;
  }

  .img-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    z-index: 1;
  }
}

.error-width {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 75%;
  margin: 5vh auto;

  h1 {
    font-family: $title-font;
    font-size: 2.5rem;
    color: #ff69b4;
    text-align: center;
  }

  p {
    font-family: $body-font;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    margin: 1rem 0;
  }

  img {
    width: 50%;
    max-width: 300px;
    margin-top: 1rem;
  }
}

#loader {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #fff0f5);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;

  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }
}

#fireworksCanvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
}

#heroPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -10vh;
  width: 100%;
  background-color: #fff0f5;

  .containerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
  }

  .containerImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;

    img#bee1 {
      width: 40%;
      margin-bottom: 1rem;
    }

    img#bee2 {
      display: none;
      width: 35%;
      position: absolute;
      animation: flyAllScreen 4s ease-in-out forwards;
      pointer-events: none;
      z-index: 5;
    }

    img#bee3 {
      display: none;
      width: 35%;
      position: absolute;
      left: 30%;
      top: 65%;
      opacity: 1;
    }

    #tsparticles {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }

  #HeroContainerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 1s ease-in-out;

    h1 {
      font-family: $title-font;
      font-size: 2.5rem;
      color: #ff69b4;
      letter-spacing: 4px;
      text-align: center;
      margin-bottom: 1rem;
    }

    #HeroTitle2 {
      display: none;
      justify-content: center;
      font-family: $title-font;
      font-size: 3rem;
      color: #ff69b4;
      margin-bottom: 1rem;

      span {
        display: inline-block;
        margin: 0 2px;
        animation: wave 1.5s ease-in-out infinite;
      }

      .span1 {
        animation-delay: 0s;
      }
      .span2 {
        animation-delay: 0.1s;
      }
      .span3 {
        animation-delay: 0.2s;
      }
      .span4 {
        animation-delay: 0.3s;
      }
      .span5 {
        animation-delay: 0.4s;
      }
      .span6 {
        animation-delay: 0.5s;
      }
      .span7 {
        animation-delay: 0.6s;
      }
      .span8 {
        animation-delay: 0.7s;
      }
    }

    button#btnStart {
      background-color: #ff69b4;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 5px;
      font-family: $body-font;

      &:hover {
        background-color: #eb92c5;
      }
    }
  }
}

main {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      to bottom,
      #a1d8f2 10%,
      #fff0f5 30%,
      #fff0f5 90%,
      #66ac1c 200%
    );
    background-color: #fff0f5;
  }

  .start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    width: 100%;

    //! delete later
    display: none;
    background-color: #333;

    .letters {
      margin-top: 5vh;
      display: flex;
      justify-content: center;
      z-index: 2;

      span {
        font-family: $title-font;
        font-size: 2.5rem;
        margin: 0 2px;
        display: inline-block;
        animation: wave 3.5s ease-in-out infinite;

        &:nth-child(odd) {
          color: #ff69b4;
        }
        &:nth-child(even) {
          color: #d87093;
        }
      }

      @for $i from 1 through 11 {
        .letter#{$i} {
          animation-delay: #{($i - 1) * 0.1}s;
        }
      }
    }
  }

  //!Sección por desarrollar
  /*
  .party-curtain {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #fff0f5 0%, #ffe6f0 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    .curtain-content {
      position: relative;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-color: #333;

      .party-title {
        font-family: $title-font;
        font-size: 2.5rem;
        color: #ff69b4;
        text-align: center;
        margin-top: 10vh;
        animation: bounceIn 1s ease-out;
        z-index: 2;
      }

      .balloon {
        position: absolute;
        width: 80px;
        animation: float 5s ease-in-out infinite;

        &.balloon1 {
          left: 10%;
          top: 65%;
          animation-delay: 0s;
        }

        &.balloon2 {
          left: 45%;
          top: 70%;
          animation-delay: 0.5s;
        }

        &.balloon3 {
          right: 15%;
          top: 60%;
          animation-delay: 1s;
        }
      }

      .bee-fly {
        position: absolute;
        width: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: circle-fly 10s linear infinite;
      }

      .confetti-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("/imgs/confetti.png");
        background-size: cover;
        opacity: 0.4;
        z-index: 1;
        animation: float 8s ease-in-out infinite;
      }

      .floating {
        position: absolute;
        width: 40px;
        animation: slow-float 7s ease-in-out infinite;

        &.star1 {
          top: 30%;
          left: 20%;
        }

        &.heart1 {
          top: 40%;
          right: 10%;
        }

        &.candy1 {
          top: 60%;
          left: 35%;
        }

        &.flower1 {
          top: 20%;
          right: 25%;
        }

        &.toy1 {
          bottom: 15%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
    */

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 15vh 0 5vh 0;

    .img-bee1 {
      width: 40%;
      transform: translateY(1.5rem);
    }

    .img-reinbow {
      width: 100%;
    }

    .container-date {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      font-family: $body-font;
      width: 100%;

      .date {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #ff69b4;
        font-size: 1.3rem;
        gap: 1rem;
        width: 100%;
        margin: 1rem 0;
        text-align: center;

        .borders {
          border-top: 2px solid #ff69b4;
          border-bottom: 2px solid #ff69b4;
          border-radius: 3px;
          padding: 5px 10px;
        }

        .day {
          width: 35%;
        }

        .number {
          width: 10%;
          background-color: #ff69b4;
          color: white;
          padding: 5px;
          border-radius: 5px;
        }

        .month {
          width: 35%;
        }
      }
    }

    .container-imgs {
      position: relative;
      width: 100%;

      .img-float {
        position: absolute;
        width: 15%;

        &.img1 {
          right: 0;
          animation: none;
          width: 25%;
          z-index: -1;
          transform: translateY(-1.5rem);
        }

        &.img2 {
          left: 5%;
          animation-delay: 2s;
          animation: float 5s ease-in-out infinite;
        }

        &.img3 {
          right: 5%;
          animation: floatFlowerSpecial 5s ease-in-out infinite;
        }
      }
    }

    h2 {
      font-family: $title-font;
      font-size: 2rem;
      color: #ff69b4;
      text-align: center;
    }

    .location {
      font-weight: bold;
      font-family: $body-font;
      font-size: 1.3rem;
      color: #ad95dd;
      animation: btnanimation 3s ease-in-out infinite;
    }
  }

  .music {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    button {
      background-color: #ff69b4;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 5px;
      font-family: $body-font;

      &:hover {
        background-color: #eb92c5;
      }
    }

    audio {
      display: none;
    }
  }

  .beeEnd {
    width: 45%;
    margin-bottom: 1vh;
    margin-right: 35%;
    animation: floatBeeSpecial 5s ease-in-out infinite;
  }
}

@keyframes flyAllScreen {
  0% {
    transform: translate(0, 0) rotate(0deg) scaleX(1);
    opacity: 1;
  }
  15% {
    transform: translate(10vw, -20vh) rotate(-20deg) scaleX(1);
  }
  30% {
    transform: translate(40vw, -10vh) rotate(15deg) scaleX(1);
  }
  45% {
    transform: translate(70vw, 10vh) rotate(-10deg) scaleX(-1);
  }
  60% {
    transform: translate(90vw, 30vh) rotate(0deg) scaleX(-1);
  }
  75% {
    transform: translate(60vw, 60vh) rotate(10deg) scaleX(-1);
  }
  90% {
    transform: translate(30vw, 80vh) rotate(0deg) scaleX(1);
  }
  100% {
    transform: translate(30vw, 80vh) rotate(0deg) scaleX(1);
    opacity: 0;
  }
}

@keyframes showBottonTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes desvanecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes floatBeeSpecial {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes floatFlowerSpecial {
  0%,
  100% {
    transform: translateY(9rem);
  }
  50% {
    transform: translateY(11rem);
  }
}

@keyframes btnanimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@media (min-width: 600px) {
  main {
    display: none;
  }

  #heroPage {
    display: none;
  }

  .error-width {
    display: flex;
  }
}
