* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-imgs {
  width: 100%;
  position: relative;

  .img-float {
    position: absolute;
    width: 50px;
  }

  .img-cloud {
    position: fixed;
    width: 100%;
    height: 25vh;
    z-index: 1;
  }

  .img-reinbow {
    width: 400px;
    margin-top: 27vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .img-bee1 {
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translateX(-50%) translateY(-5vh);
    z-index: 2;
  }

  .img-footer {
    position: fixed;
    width: 100%;
    height: 15vh;
    bottom: 0;
    left: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      to bottom,
      #a1d8f2 10%,
      #fff 30%,
      #fff 70%,
      #66ac1c 150%
    );
  }
}

section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start {
  margin-top: 15vh;
  padding: 20px 0;

  h1 {
    margin: 2rem 0.5rem;
    z-index: 2;
    font-size: 3rem;
    text-align: center;
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  h2 {
    z-index: 2;
    font-size: 2rem;
    color: #ff69b4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
}

.container-date {
  height: 30vh;
  padding: 20px;
  margin-top: 200px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  p {
    font-size: 1.5rem;
    margin: 5px 0;
    color: #333;

    &.day1 {
      font-weight: bold;
      color: #ff7f50;
    }

    &.day2 {
      font-size: 2.5rem;
      color: #d2691e;
    }

    &.Myear {
      font-style: italic;
      color: #555;
    }
  }
}

.container-names {
  background-color: #000;
  background-color: #fefbd8;
  margin-top: 2rem;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .names {
    p {
      font-size: 1.2rem;
      margin: 5px 0;
      color: #4b0082;

      strong {
        color: #8b0000;
      }
    }
  }

  img {
    width: 100px;
    margin-top: 10px;
  }
}

.container-ubi {
  background-color: #000;
  background-color: #e0f7fa;
  margin-top: 2rem;
  margin-bottom: 20vh;
  height: 30vh;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

  img {
    width: 120px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.5rem;
    color: #00796b;
    margin-bottom: 8px;
  }

  a {
    font-size: 1.2rem;
    color: #0288d1;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
